{{#if user}}
  <p>you are currently logged is as {{user.username}}</p>
  <a href="/logout">Logout</a>
  <!-- <my-app></my-app> -->
{{else}}
  <a href="/login">Login</a>
  </br>
  <a href="/register">Register</a>
{{/if}}
